<h2>Sign up</h2>
<div class="row">
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <% if @minimum_password_length %>
            <p class="help-block"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

          <%= f.button :submit, class: "btn btn-primary" do %>Sign up <i class='fa fa-user-plus'></i><% end %>
        
      <% end %>
  </div>
</div>

<br>

<p>Already have an account?</p>
<%= render "devise/shared/links" %>

<br><br>