<h1>Links</h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Title</th>
      <th>Shortened URL</th>
      <% if user_signed_in? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td>
          <% if link.title.present? %>
            <%= link.title %>
          <% else %>
            <span>-</span>
          <% end %>
        </td>
        <td><%= link_to "Visit URL", request.base_url + "/" + link.slug, target: "_blank" %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Add New Link', new_link_path %>
<% end %>