<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<% if @link.title.present? %>
	<p>
	  <strong>Title:</strong>
	  <%= @link.title %>
	</p>
<% end %>

<%= link_to "Open URL", request.base_url + "/" + @link.slug, target: "_blank" %>
<br>
<br>
<%= link_to 'Back', root_path %>
