<div class="row">
	<div class="col-md-6">

		<p>
		  <strong>URL:</strong><br>
		  <%= @link.url %>
		</p>

		<p>
		  <strong>Shortened URL:</strong><br>
		  <%= request.base_url + "/" + @link.slug %>
		</p>

		<% if @link.title.present? %>
			<p>
			  <strong>Title:</strong><br>
			  <%= @link.title %>
			</p>
		<% end %>

		<%= link_to "Open URL", request.base_url + "/" + @link.slug, target: "_blank", class: "btn btn-success" %> <%= link_to 'Back', root_path, class: "btn btn-default" %>
	</div> <!-- /col-md-6 -->
</div> <!-- /row -->
